@import "../../package/lib/style.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    --tt-toolbar-height: 44px;
    --tt-theme-text: var(--tt-gray-light-900);

    .dark & {
        --tt-theme-text: var(--tt-gray-dark-900);
    }
}



body {
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    color: var(--tt-theme-text);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.preview {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    white-space: pre-wrap;
    overflow-x: auto;
}

pre {
    white-space: pre-wrap;
}